<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slidebar | Rythm tourism</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" href="assets/tourism.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/theme.js"></script>
</head>
<body>
<div id="sidebar" class="fixed top-19 right-0 h-full w-72 
bg-gradient-to-b from-green-600 to-green-900 text-white 
shadow-2xl transform translate-x-full
transition-transform duration-300 z-50">
    <div class="flex items-center justify-between p-5 border-b border-green-500">
    <div>
        <h1 class="text-2xl font-bold ">Rythm Tourism</h1>
        <p class="text-sm ">Travel Beyond Limits</p>
    </div>
    <div class="p-5">
        <i id="closingbar" class="fa-solid fa-xmark text-xl hover:text-red-400 transition 300 scale-125"></i>
    </div>
</div>

    <nav class="flex flex-col p-4 gap-3">
       
        <a href="destinations.html"
            class="flex items-center gap-3 p-3 rounded-lg hover:bg-green-500 transition text-white">
            <i class="fa-solid fa-location-dot"></i>
            Explore Places
        </a>
        <a href="booking.html"
            class="flex items-center gap-3 p-3 rounded-lg hover:bg-green-500 transition text-white">
            <i class="fa-solid fa-ticket"></i>
            My Bookings
        </a>
        <a href="history.html"
            class="flex items-center gap-3 p-3 rounded-lg hover:bg-green-500 transition text-white">
            <i class="fa-solid fa-clock-rotate-left"></i>
            Trip History
        </a>
        
        <a href="../Pages/contact.html"
            class="flex items-center gap-3 p-3 rounded-lg hover:bg-green-500 transition text-white">
            <i class="fa-solid fa-phone"></i>
            Contact Us
        </a>
    </nav>

   <div class="absolute bottom-17 w-full border-t border-green-500 p-4">
    <div class="flex items-center justify-between">
        <div class="flex items-center gap-3">
            
            <div class="w-10 h-10 flex items-center justify-center bg-green-500 rounded-full">
    <i class="fa-solid fa-user text-lg text-white"></i>
            </div>

            <div class="flex flex-col leading-tight">
                <span id="name" class="font-semibold ">Jawahar</span>
                <span class="text-xs ">Traveller Account</span>
            </div>
        </div>
       <button id="logoutbtn" class="text-red-300 hover:text-red-500 text-lg transition">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>

    </div>
</div>

</div>

</body>
</html>